USERS_HOST=users_service
USERS_PORT=8001
USERS_PUBLIC_KEY=_
USERS_PRIVATE_KEY=_
USERS_POSTGRES_USER=smrt_users
USERS_POSTGRES_PASSWORD=1234
USERS_POSTGRES_HOST=users_database
USERS_POSTGRES_PORT=5432
USERS_POSTGRES_DBNAME=smrt_users
USERS_POSTGRES_DSN=postgres://$USERS_POSTGRES_USER:$USERS_POSTGRES_PASSWORD@$USERS_POSTGRES_HOST:$USERS_POSTGRES_PORT/$USERS_POSTGRES_DBNAME
MORES_HOST=mores-service
MORES_PORT=8002
MORES_POSTGRES_USER=smrt_mores
MORES_POSTGRES_PASSWORD=1235
MORES_POSTGRES_HOST=mores_database
MORES_POSTGRES_PORT=5433
MORES_POSTGRES_DBNAME=smrt_mores
MORES_POSTGRES_DSN=postgres://$MORES_POSTGRES_USER:$MORES_POSTGRES_PASSWORD@$MORES_POSTGRES_HOST:$MORES_POSTGRES_PORT/$MORES_POSTGRES_DBNAME
